<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">
    
  <div [hidden]="dish">
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>
            {{ dish.name | uppercase}}
          </h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{dish.image}}" alt="{{dish.name}}">
      <mat-card-content>
        <p>{{ dish.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>

        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <button mat-button (click)="goBack()">BACK</button>

        <button mat-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>

      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish">    
    <mat-list>
      <h3>Comments</h3>
      <mat-list-item *ngFor="let comment of dish.comments">      
        <p matLine>{{ comment.comment }}</p>
        <p matLine>{{ comment.rating }} stars</p>     
        <p matLine>--{{ comment.author }} {{ comment.date | date }}</p>
      </mat-list-item>
    </mat-list>
 

    <div class="example-container">
      <h3>Send us your feedback on {{ dish.name }}</h3>
      <!-- <p>{{ commentForm.value | json }} {{ commentForm.status | json }} </p> -->

      <p matLine> Reviewer:  {{ commentForm.value.author}} </p>
      <p matLine> Date: {{ commentForm.value.date}} </p>
      <p matLine> Rating: {{ commentForm.value.rating}} </p>
      <p matLine> Comment: {{ commentForm.value.comment}} </p>

        
      <form novalidate [formGroup]="commentForm" #fform="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="name" formControlName="author" type="text">
          <mat-error>{{ formErrors.author }}</mat-error>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput placeholder="comment" formControlName="comment" type="text">
          <mat-error>{{ formErrors.comment }}</mat-error>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput placeholder="rating" formControlName="rating" type="text">
          <mat-error>{{ formErrors.rating }}</mat-error>
        </mat-form-field>
      
        <button [disabled]="commentForm.invalid" type="submit" mat-button class="background-primary text-floral-white">
            Submit
        </button>

      </form>
    </div>

  </div>

</div>
